@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #212529;
    color: #343a40;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.schedule-header {
    background-color: #982B1C;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

.schedule-header h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.schedule-header p {
    font-size: 1.2rem;
}

.schedule-table {
    margin-bottom: 2rem;
    margin-top: 20px;
}

.table {
    background-color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.table thead {
    background-color: #9B1B8E;
    color: white;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f3e6f2;
}

.table td {
    vertical-align: middle;
    padding: 15px;
}

h2 {
    font-size: 1.75rem;
    color: #9B1B8E;
    font-weight: 600;
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    color: #6c757d;
    font-size: 0.9rem;
    border-top: 1px solid #e5e5e5;
}

footer p {
    margin: 0;
}

.card {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-body .btn {
    align-self: flex-end;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
  }

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .caption {
    opacity: 1;
}